@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Condensed", sans-serif;
  font-size: large;
  background-color: #c9c9e7;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}